# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
## Importng necessary libraries
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [11]:
## Saving for temp variable cnt
cnt = chipo[chipo.item_price > '$10.00']
print(cnt.count())

order_id              4035
quantity              4035
item_name             4035
choice_description    3028
item_price            4035
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [18]:
## Alternatively we can use df[[item_name,item_price]]
print(chipo.loc[:,['item_name', 'item_price']])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
5                              Chicken Bowl    $10.98
6                             Side of Chips     $1.69
7                             Steak Burrito    $11.75
8                          Steak Soft Tacos     $9.25
9                             Steak Burrito     $9.25
10                      Chips and Guacamole     $4.45
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
13                             Chicken Bowl    $11.25
14                      Chips and Guacamole     $4.45
15    Chips and Tomatillo-Green Chili Salsa     $2.39
16                          Chicken Burrito     $8.49
17                          Chicken Burrito     $8.49
18                              Canned Soda     $2.18
19                             Chicken Bowl     $8.75
20                      Chips and Guacamole     $4.45
21                         Barbacoa Burrito     $8.99
22                         Nantucket Nectar     $3.39
23                          Chicken Burrito    $10.98
24                                     Izze     $3.39
25             Chips and Fresh Tomato Salsa     $2.39
26                             Chicken Bowl     $8.49
27                         Carnitas Burrito     $8.99
28                              Canned Soda     $1.09
29                          Chicken Burrito     $8.49
...                                     ...        ...
4592                       Barbacoa Burrito    $11.75
4593                          Carnitas Bowl    $11.75
4594                          Barbacoa Bowl    $11.75
4595                           Chicken Bowl     $8.75
4596                    Chips and Guacamole     $4.45
4597                      Canned Soft Drink     $1.25
4598                          Bottled Water     $1.50
4599                           Chicken Bowl     $8.75
4600                    Chips and Guacamole     $4.45
4601                      Canned Soft Drink     $1.25
4602                       Barbacoa Burrito     $9.25
4603                       Barbacoa Burrito     $9.25
4604                           Chicken Bowl     $8.75
4605                    Chips and Guacamole     $4.45
4606                      Canned Soft Drink     $1.25
4607                          Steak Burrito    $11.75
4608                         Veggie Burrito    $11.25
4609                      Canned Soft Drink     $1.25
4610                          Steak Burrito    $11.75
4611                         Veggie Burrito    $11.25
4612                          Carnitas Bowl     $9.25
4613                                  Chips     $2.15
4614                          Bottled Water     $1.50
4615                     Chicken Soft Tacos     $8.75
4616                    Chips and Guacamole     $4.45
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [21]:
print(chipo.sort_values('item_name').head(20))

      order_id  quantity          item_name choice_description item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]    $12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1849       749         1  6 Pack Soft Drink             [Coke]     $6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]     $6.49
2713      1076         1  6 Pack Soft Drink             [Coke]     $6.49
3422      1373         1  6 Pack Soft Drink             [Coke]     $6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1922       776         1  6 Pack Soft Drink             [Coke]     $6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]     $6.49
3836      1537         1  6 Pack Soft Drink             [Coke]     $6.49
298        129         1  6 Pack Soft Drink           [Sprite]     $6.49
1976       798         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1167       481         1  6 Pack Soft Drink             [Coke]     $6.49
3875      1554         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1124       465         1  6 Pack Soft Drink             [Coke]     $6.49
3886      1558         1  6 Pack Soft Drink        [Diet Coke]     $6.49
2108       849         1  6 Pack Soft Drink             [Coke]     $6.49
3010      1196         1  6 Pack Soft Drink        [Diet Coke]     $6.49
4535      1803         1  6 Pack Soft Drink         [Lemonade]     $6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [65]:
df = chipo[chipo.item_price == chipo.item_price.max()]
maximum = df.groupby(['item_price', 'quantity'])
maximum.first()  ## Used only for groupby
## ALtenatively df.iloc[0],df.head(1)

                     order_id         item_name             choice_description
item_price quantity
$9.39      1              250  Steak Salad Bowl  [Fresh Tomato Salsa, Lettuce]

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [49]:
veggie = chipo[chipo.item_name == 'Veggie Salad Bowl']
print(veggie.shape[0])

(18, 5)

### Step 9. How many times people orderd more than one Canned Soda?

In [63]:
canned = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)]
print('No. of times Canned Soda has been ordered is {}'.format(canned.shape[0]))

No. of times Canned Soda has been ordered is 20